<div class="maindiv">
  <button type="button" class="btn btn-primary" routerLink="/login"
    style="background-color: #6D4C41;margin-left:1200px;margin-top:10px;">Logout</button>
  <div class="jumbotron" style="height:160vh;background-color: #009688;">
    <div class="container">
      <div class="row">
        <div class="card shadow p-4 mb-1 bg-white rounded col-md-6 offset-md-3 ">
          <h3 style="text-align: center;">Add Room</h3>
          <form [formGroup]="addRoomForm" (ngSubmit)="onSubmit()">
            <div class="selectBoxWrap">
              <label class="ico13 db padB5">Select Hotel</label>
              <div class="customSelect">
                <div class="form-group">
                  <select name="name" class="form-control" formControlName="name"
                    [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
                    <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                      <div *ngIf="f.name.errors.required">Please select City</div>
                    </div>
                    <option *ngFor="let name of names" [value]="name.name">{{name.name}}</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label>Number of Rooms</label>
              <input type="number" formControlName="rooms" class="form-control"
                [ngClass]="{ 'is-invalid': submitted && f.rooms.errors }" />
              <div *ngIf="submitted && f.rooms.errors" class="invalid-feedback">
                <div *ngIf="f.rooms.errors.required">Number of Rooms shouldn't be empty</div>
                <div *ngIf="f.rooms.errors.minlength"> Number of Rooms should be greater than zero</div>
              </div>
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-primary btn-md">SUBMIT</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>