
.total{
   height:100vh;
   width: 100%;
    background: url('/assets/bg8.jpg');
    display:flex;
    background-size: 100% 100%
  }
#maincard{
    height:580px;
     width:355px;
    position: absolute;
    align-items: center; 
    top: 50%;
    left: 50%;
    background-color:rgba(255,255,255,0.9);
    margin-top:10px;
    transform: translate(-50%, -50%);      
}
label{
  color:black;
}

  
  
  
 


   