.active-pink-2 input[type=text]:focus:not([readonly]) {
    border-bottom: 1px solid #f48fb1;
    box-shadow: 0 1px 0 0 #f48fb1;
    }

.total{
   height:100vh;
   width: 100%;
    /* background: url('C:\Users\Administrator\Desktop\Hotel-Booking-Angular\clientSide\src\assets\bg6.jpg'); */
    display:flex;
 
    /* justify-content: center;
    align-items: center; */
  }
  .define{
    opacity: 1;
    filter: alpha(opacity=50);
    width:100%;
  }
  /* .define:hover{
    opacity: 0.8;
    filter:alpha(opacity=50);
  } */
#maincard{
    height:550px;
     width:350px;
    position: absolute;
    align-items: center; 
    top: 50%;
    left: 50%;
    background-color: white;
    opacity:0.8;
    margin-top:40px;
    transform: translate(-50%, -50%);      
}
#about
{
    height:500px;
    width:850px;
    background-color:white;
    position: absolute;
    align-items: center; 
    top: 50%;
    left: 50%;
    margin-top:40px;
    transform: translate(-50%, -50%);
    display:none;
    opacity:0.7;
}

#contact{
  height:350px;
  width:650px;
  position: absolute;
  align-items: center; 
  top: 50%;
  left: 50%;
  background-color: white;
  opacity:0.8;
  margin-top:40px;
  transform: translate(-50%, -50%);  
  display:none;    
}
.nav-link:hover{
  cursor: pointer;
  color: brown;
}

label{
  color:black;
}
.footer{
  border:2px solid black; 
  height:150px; 
  background-color:#bdbdbd;
}
  .text{
    margin-top:40px;
    margin-left:100px;
  }
  
  #success{
    display:none;
  }
 


   