<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <div *ngFor="let item of singlehotel">
          <div class="card" style="width:100%;height:630px">
            <div class="card-header" style="height:100px; ">
              <h3 style="text-align:left">{{item.name}}</h3>
              <span><small>{{item.place}}</small></span>,
              <span><small>{{item.landmark}}</small></span>,
              <span><small>{{item.city}}</small></span>,
              <span><small>{{item.pincode}}</small></span>,
              <span><small>{{item.mobile}}</small></span>
              <h5 style="text-align: right">
                Price: {{item.price|currency:'INR'}}
              </h5>
            </div>

            <div class="card-body">
              <div class="row">
                <div class="col-12">
                  <img [src]="item.image" style="width:100%;height:450px">
                </div>

              </div>
            </div>
            <div class="card-footer" style="height:100px;background-color:lightgray">
              <strong>
                <p>Overview:</p>
              </strong>
              <p>{{item.name}} is one of the famous and best hotels in {{item.city}}. Customers who are looking to book
                a hotel at {{item.place}}, this hotel is the best option.</p>

            </div>
          </div>
        </div>
      </div>


      <div class="col-md-3" style="margin-left: 0px">
        <div class="card">
          <div class="card-body">
            <h5 style="color:green">Good </h5>
            <p style="font-size: 15px"> 3.5
              <i class="far fa-star" style="color:orange"></i>
              <i class="far fa-star" style="color:orange"></i>
              <i class="far fa-star" style="color:orange"></i>
              <i class="far fa-star-half" style="color:orange"></i>
            </p>
            <p style="font-size: 15px">Based on Overall Traveller Rating</p>
          </div>

        </div>
        <div class="card">
          <div class="card-body">
            <p style="font-size: 15px">Impressive Location: 4.0/5</p>
            <p style="font-size: 15px">Good Service: 3.5/5</p>
          </div>

        </div>
        <div class="card">
          <div class="card-body">
            <p style="font-size: 12px"><strong>CHECKIN : </strong>12:00 PM</p>
            <p style="font-size: 12px"><strong>CHECKOUT : </strong>11:00 AM</p>
          </div>
        </div>
        <div class="card" *ngFor="let item of singlehotel">
          <button type="button" class="btn btn-success" (click)="BookNow(item.id)">Book Now</button>
        </div>
      </div>
    </div>
  </div>

</div>