<div class="jumbotron" style="background-color: #009688">
  <div class="container" style="margin-left:200px;">
    <div class="row">
      <div class="col-md-4" *ngIf="showForm">
        <div class="card" style="width:110%">
          <div style="margin-left: 30px;margin-top: 30px;margin-right: 30px">
            <form [formGroup]="bookHotelForm" (ngSubmit)="onSubmit()">
              <div class="form-group">
                <label>Check-In</label>
                <input type="text" disabled value="{{duration.checkin|date:'dd/MM/yyyy'}}" formControlName="checkin"
                  class="form-control" />
              </div>
              <div class="form-group">
                <label>Check-Out</label>
                <input type="text" disabled value="{{duration.checkout|date:'dd/MM/yyyy'}}" formControlName="checkout"
                  class="form-control" [ngClass]="{ 'is-invalid': submitted && f.checkout.errors }" />
                <div *ngIf="submitted && f.checkout.errors" class="invalid-feedback">
                  <div *ngIf="f.checkout.errors.required">Checkout date is mandatory</div>
                </div>
              </div>
              <span style="display:flex;padding: 10px;">
                <div class="form-group">
                  <label class="ico13 db padB5">Room(s)</label>
                  <input type="number" value="{{duration.rooms}}" disabled class="form-control" formControlName="rooms"
                    style="width:100px">
                </div>
                <div class="form-group">
                  <label class="ico13 db padB5">Adult(s)</label>
                  <input type="number" style="text-align: center" disabled value="{{duration.adults}}"
                    class="form-control" formControlName="adults" style="width:100px">
                </div>
                <div class="form-group">
                  <label class="ico13 db padB5"> Children</label>
                  <input type="number" style="text-align: center" disabled value="{{duration.children}}"
                    class="form-control" formControlName="children" style="width:100px">
                </div>
              </span>
              <div class="form-group">
                <label>Price</label>
                <input type="number" disabled value="{{netPayable}}" formControlName="price" class="form-control" />
              </div>
              <div class="form-group">
                <label>Name</label>
                <input type="text" formControlName="name" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.name.errors }" />
                <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                  <div *ngIf="f.name.errors.required">Name is mandatory</div>
                  <div *ngIf="f.name.errors.minlength"> Name should be minimum of 3 characters</div>
                  <div *ngIf="f.name.errors.maxlength"> Name should be maximum of 30 characters</div>
                </div>
              </div>
              <div class="form-group">
                <label>Email</label>
                <input type="text" formControlName="email" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                  <div *ngIf="f.email.errors.required">Please enter mail id</div>
                  <div *ngIf="f.email.errors.pattern">Email must be a valid email address</div>
                </div>
              </div>
              <div class="form-group">
                <label>Contact Number</label>
                <input type="text" formControlName="mobile" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.mobile.errors }" />
                <div *ngIf="submitted && f.mobile.errors" class="invalid-feedback">
                  <div *ngIf="f.mobile.errors.required">Contact Number is mandatory</div>
                  <div *ngIf="f.mobile.errors.minlength"> Contact Number must contain only 10 digits</div>
                  <div *ngIf="f.mobile.errors.maxlength"> Contact Number must not exceed 10 digits</div>
                  <div *ngIf="f.mobile.errors.pattern">Enter Valid Mobile number </div>
                </div>
              </div>
              <div class="form-group">
                <button type="submit" class="btn btn-primary btn-md">Book Now</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="col-md-6" style="margin-left:50px;" *ngIf="showCart">
        <div *ngFor="let item of displayHotel">
          <div class="card" style="width:430px">
            <div class="card-header" style="display:flex">
              <h5>Payable Amount: </h5>
              <h5 style="margin-left:80px">
                {{netPayable | currency:'INR'}}</h5>
            </div>
            <div class="card-body col-12" style="display: flex">
              <div class="row">
                <div class="col-12">
                  <h6>{{item.name}}</h6>
                  <span><small class="text-muted">{{item.place}}</small></span>,
                  <span><small class="text-muted">{{item.landmark}}</small></span>,
                  <span><small class="text-muted">{{item.city}}</small></span>,
                  <span><small class="text-muted">{{item.pincode}}</small></span>,
                  <span><small class="text-muted">{{item.mobile}}</small></span>
                </div>
                <hr>
                <div class="col-12">
                  <div class="row">
                    <div class="col-4">
                      <small class="text-muted">Aminities:</small><br>
                      <i class="fas fa-check" style="color:green"></i>&nbsp;&nbsp;<small class="text-muted">Free
                        Wifi</small><br>
                      <small class="text-muted">Inclusions</small><br>
                      <i class="fas fa-check" style="color:green"></i>&nbsp;&nbsp;
                      <small class="text-muted">Free Breakfast</small><br>
                      <i class="fas fa-check" style="color:green"></i>&nbsp;&nbsp;<small class="text-muted">Free
                        Lunch</small>
                    </div>
                    <div class="col-8">
                      <img [src]="item.image" style="width:100%;height:100%;float:right; ">
                    </div>
                  </div>
                  <hr>
                </div>
                <div class="col-12" style="display: flex">
                  <div class="row">
                    <div style="width:100px; height:40px; margin-left:10px"><small
                        class="text-muted">CHECK-IN</small><br>
                      <small>{{duration.checkin |date:'dd/MM/yyyy' }}</small>
                    </div>
                    <div style="width:100px;margin-left:5px"><small class="text-muted">CHECK-OUT</small><br>
                      <small>{{duration.checkout|date:'dd/MM/yyyy'}}</small>
                    </div>
                    <div style="width:60px;margin-right:5px"><small class="text-muted">ROOMS</small><br>
                      <small>&nbsp;&nbsp;&nbsp;{{duration.rooms}}</small>
                    </div>
                    <div style="width:100px" style="margin-left:5px"><small class="text-muted">ADULTS</small><br>
                      <small>&nbsp;&nbsp;&nbsp;{{duration.adults}}</small>
                    </div>
                    <div style="width:150px" style="margin-left:20px;"><small class="text-muted">CHILDREN</small><br>
                      <small>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{duration.children}}</small>
                    </div>
                  </div>
                </div>
                <hr>
                <div class=" col-12 ">
                  <div style="display:flex" style="width:100%;">
                    <div style="margin-left:30px">
                      <span><small>Booking
                          Price:<span style="margin-left:100px">{{price | currency:'INR'}}</span></small></span><br>
                      <span><small>Discount(10%):
                          <span
                            style="margin-left:90px">-&nbsp;&nbsp;&nbsp;{{discount | currency:'INR'}}</span></small></span><br>
                      <hr>
                      <span><small>Discounted
                          Price:<span
                            style="margin-left:80px">{{discountedPrice | currency:'INR'}}</span></small></span><br>
                      <span><small>GST(12%):<span
                            style="margin-left:115px">+&nbsp;&nbsp;&nbsp;{{gst | currency:'INR'}}</span></small></span>
                      <hr>
                      <span><small><strong>Total
                            Payable:<span
                              style="margin-left:90px">&nbsp;&nbsp;&nbsp;{{netPayable | currency:'INR'}}</span></strong></small></span><br>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6" style="width:100%;height:120%" *ngIf="showSuccessMessage">
      <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Thank You!</h4>
        <p>Your booking has been successfull ! Please visit again </p>
      </div>
    </div>
  </div>
</div>